:root {
    color-scheme: light dark;
}

#container{
    display: flex;
    flex-flow: column wrap;
    color: #f9ffd5;
    font-family: 'Bodoni Std', sans-serif;
}

.navElements {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    display: flex;
    justify-content: space-around;
    background-color: #f9ffd5;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}
  
a {
display: block;
width: 100%;
background-color: #f9ffd5;
color: #3f3c54;

}

.header {
    height: 500px;
    background-image: url("https://icolorpalette.com/download/imagepost/waters-3161063_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover, 500px;
    background-position: center;
}

.headerText{
    color: #f9ffd5;
    font-size: 60px;
    padding-left: 20px;
    text-shadow: 2px 2px 5px #3e470ad2;

}

.dropdownBoxes{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.dropdown select{
    width: 220px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    margin: 25px;
    background-color: #546c75;
    color: #f9ffd5;
    font-family: 'Bodoni Std', sans-serif;
    border-radius:4px;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    height: auto;
}

.chosenOptions {
    flex-grow: 1;
    text-align: center;
    background-color: #3f3c54;
    border-right: solid 1px black;
}

.savedOptions {
    width: 300px;
    text-align: center;
    background-color: #48520cd2;
}

.optionsDisplay {
    height: 300px;
    
}

.itinerary {
    text-align: left;
}

.details__button {
    background-color: #8ac1d7;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 8px 8px;
    padding: 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
}

.details__button:hover {opacity: 1}

.saveButton {
    background-color: #54610e;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 8px 8px;
    padding: 6px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.saveButton:hover {opacity: 2}

.saveButton:disabled,
.saveButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.saveButton:hover[disabled] {opacity: 60%;}

